# Used for normalisation of line endings
# as per https://help.github.com/articles/dealing-with-line-endings/

# Set default behaviour for queryText files
# Normalises queryText files on checkin to repository
* queryText=auto

# Define specific queryText files to normalise to native
# line ending format on repository checkout

# Source files
*.java          queryText
*.groovy        queryText
*.pl            queryText
*.xtext         queryText
*.mwe2          queryText

# Build scripts
*.gradle        queryText
*.sh            queryText
# Batch files must have Windows line endings
*.bat           queryText eol=crlf
*.yml           queryText

# Info files
*.properties    queryText
*.md            queryText
*.txt           queryText

# Define binary files for which line ending
# normalisation should not apply to

*.jar           binary
*.png           binary
*.jpg           binary
